h1 {
  font-family: 'Amatic SC', cursive;
}

h2 {
  font-family: 'Ma Shan Zheng', cursive;
}

p {
  font-family: 'Lacquer', sans-serif;
}

body , html {
  padding: 0;
  margin:0;
  border: 0;
  font-size: large;


}


.navbar-brand{font-family:'Amatic SC', cursive;
 font-size: 30px;}


  .navbar-brand img {
    width:20%;
  }

  #carouselExampleIndicators {
    margin-top: 4rem;
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

#carouselExampleIndicators {
  opacity: 1.0;
filter: alpha(opacity=100);
}

.carousel-item {
  height: 100vh;
  background-size: cover;
}
