body {
  padding-top: 5rem;
  background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/04/60/39/21586ca9f1505e9.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.starter-template {
  padding: 3rem 10rem;
  text-align: center;
}


h1 {
font-family: 'Amatic SC', cursive;
font-size: 50px;
padding-top: 5rem;}

.navbar-brand{font-family:'Amatic SC', cursive;
font-size: 100px;}

img {
  width:20%;}


.download-links {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.download-links img {
  max-width: 90px;
}
